body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #008037;
    color: white;
    text-align: center;
    padding: 1rem;
  }
  
  .container {
    max-width: 500px;
    margin: 2rem auto;
    background: white;
    padding: 1.5rem;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  }
  
  label {
    display: block;
    margin-top: 1rem;
    font-weight: 600;
  }
  
  input, textarea, select, button {
    width: 100%;
    padding: 0.7rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-top: 0.3rem;
  }
  
  button {
    background-color: #008037;
    color: white;
    border: none;
    font-size: 1rem;
    margin-top: 1.5rem;
    cursor: pointer;
    transition: 0.3s;
  }
  
  button:hover {
    background-color: #00692d;
  }
  
  #msgStatus {
    text-align: center;
    margin-top: 1rem;
    font-weight: 600;
  }
  